[submodule "youtube-to-blog-crewai"]
	path = youtube-to-blog-crewai
	url = https://github.com/tasnimuldatascience/youtube-to-blog-crewai.git
[submodule "flightfinder-travelplanner-crewai"]
	path = flightfinder-travelplanner-crewai
	url = https://github.com/tasnimuldatascience/flightfinder-travelplanner-crewai.git
[submodule "E2E-DeepSeekr1-RAG-NVIDIANIM"]
	path = E2E-DeepSeekr1-RAG-NVIDIANIM
	url = https://github.com/tasnimuldatascience/E2E-DeepSeekr1-RAG-NVIDIANIM.git
[submodule "End2End-TextSummarization-HF"]
	path = End2End-TextSummarization-HF
	url = https://github.com/tasnimuldatascience/End2End-TextSummarization-HF.git
[submodule "News_Reporter_CrewAI"]
	path = News_Reporter_CrewAI
	url = https://github.com/tasnimuldatascience/News_Reporter_CrewAI.git
[submodule "Multi_Language_Invoice_Extractor"]
	path = Multi_Language_Invoice_Extractor
	url = https://github.com/tasnimuldatascience/Multi_Language_Invoice_Extractor.git
